/* header */
nav.main-nav{
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: #fff;
}
.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
}
.change_area{
    color: var(--orange);
    padding: 0;
}
main{
    padding: 10px;
}
.home_container{
    text-align: center;
    margin-top: 30px;
}
.home_container > h3{
    margin: 30px 0;
}
.area_container{
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}
.area_container > *{
    width: 200px;
    padding: 75px 0;
    border-radius: 4px;
    background-color: var(--dark);
    color: #fff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.area_container .avatar{
    padding: 20px;
    border-radius: 100%;
    background-color: var(--light);
}

/* POP UPS */
.popup{
    display: none; /* block */
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: var(--dark);
}
.close_popup{
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 12px;
}
.close_popup:hover{
    cursor: pointer;
}
#imageViewer img{
    max-width: 100%;
}
/* FORMS */
#POST_form{
    display: none; /* block */
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark);
    color: var(--light);
    padding: 40px;
    border-radius: 12px;
}
#POST_form > h3{
    margin-bottom: 24px;
}
form > div:not(.botonera){
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
form input:not([type="submit"], [type="file"]){
    line-height: 2em;
    padding-left: 8px;
}
form select {
    height: 2em;
}
form option:focus{
    background-color: var(--orange-light);
}
#POST_form .botonera{
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
#POST_form .botonera > *{
    padding: 8px 24px;
    background-color: var(--light);
    border: none;
    outline: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.botonera > *:hover{
    cursor: pointer;
}